<header id="site-header">
  <div class="container-fluid">
    <h1 class="text-center">Little Einsteins' Tutorial</h1>
    <div class="row text-center" id="navigation" >
      <a href="{{ "/" | prepend: site.baseurl }}" id="navlink"><div class="col-sm-offset-2 col-sm-2 col-xs-3">Home</div></a>
      <a href="{{ "/about" | prepend: site.baseurl }}" id="navlink"><div class="col-sm-2 col-xs-3">About us</div></a>
      <a href="{{ "/news" | prepend: site.baseurl }}" id="navlink"><div class="col-sm-2 col-xs-3">News</div></a>
      <a href="{{ "/admission" | prepend: site.baseurl }}" id="navlink"><div class="col-sm-2 col-xs-3">Admission</div></a>
      <div class="col-sm-offset-2"></div>
    </div>
  </div>
</header>
